name: ci
on:
  push:
    branches:
      - '**'
  pull_request:
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - name: Build documentation (strict)
        run: mkdocs build --strict
      - name: Check external links
        run: mkdocs-linkcheck -r docs -m get --exclude "console.cloud.google.com" --exclude "\.md$" --exclude "\.yaml$"
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: mkdocs gh-deploy --force
